html {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(227,230,233);
}	

body {
  zoom: 67%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

header {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  background-color: rgb(27,70,73); /*rgb(37,40,43);*/
  margin: 0px;
  padding: 20px;
  //border: 0px;
}

main {
  margin: 20px;
}


h1 {
  text-align: center;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
}

p,
li {
  font-size: 25px;
  line-height: 1.5;
}

canvas{
	display: block;
	margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #BDBDBD;
  padding: 8px;
  text-align: center;
}

th {
  background-color: rgb(44,87,90); /*rgb(10,137,23);*/
  color: white;
}

td {
  /*width: 100%;*/
  height: 50px;
}

td input, td select, td button {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

td select {
  min-width: 200px;
}

.input-field {
  min-height: 50px;
  width: 100%;
  font-size: 20px;
}

#white-area {
  background-color: rgb(253,253,253);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin: 20px 0px;
  padding: 20px;

  display: flex; /* This will make the div a flex container */
  flex-direction: column; /* This will make the child elements lay out in a column */
  justify-content: center; /* This will vertically center the child elements */
}

#white-area2 {
  background-color: rgb(253,253,253);
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2),
              0px 4px 5px rgba(0,0,0,0.14),
              0px 1px 10px rgba(0,0,0,0.12);
  margin: 20px;
  padding: 20px;

  display: flex; /* This will make the div a flex container */
  flex-direction: column; /* This will make the child elements lay out in a column */
  justify-content: center; /* This will vertically center the child elements */
}

#horizontal-alignment {
    display: flex;
    flex-direction: row;
    align-items: center; /* This will horizontally center the child elements */
    justify-content: center; /* This will distribute the child elements evenly with space around them */
}


.classify-image-button {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  
  background-color: rgb(10,137,23); /*rgb(30,37,83);*/
  border: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  
  padding: 10px 20px;
  margin: 5px 20px;
  width: 460px;
  height: 100px;

  transition-duration: 0.2s;
}

.classify-image-button:hover {
  background-color: rgb(72,82,92);
}

.button-green {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  
  background-color: rgb(10,137,23); /*rgb(30,37,83);*/
  border: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  
  padding: 10px 20px;
  margin: 5px 20px;
  /*width: px;*/
  height: 100px;

  transition-duration: 0.2s;
}

.button-green:hover {
  background-color: rgb(72,82,92);
}

#chat-input {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  
  border: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  margin-bottom: 5px;

  padding: 10px 20px;
  width: 500px; 
  height: 50px;
  resize: none; /* Prevent the user from changing the size of the textarea */

  vertical-align: middle;
}

#chat-history {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  
  border: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  margin: 20px 5px;
  margin-right: 20px;

  padding: 10px 20px;
  width: 606px; 
  resize: none; /* Prevent the user from changing the size of the textarea */

  vertical-align: middle;
}

#chat-history p {
  white-space: pre-wrap; /*allows line break formats*/
  word-break: break-word; /* breaks very long words into multiple lines*/
}

#chat-spacing {
  display: flex;
  flex-direction: column-reverse;

  height: calc(100vh - 120px);
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#dropzone {
    width: 416px;
    height: 416px;
    border: 2px dashed #000; /* black dashed border */
    color: #000; /* black text */
    font-size: 20px; /* 20px text */
    line-height: 1.5; /* better vertical alignment */
    text-align: center;
    padding: 10px 20px;
    margin: 5px 20px;
    transition: background-color 0.3s ease; /* smooth transition */
}

/*#dropzone:hover {*/
/*    background-color: #ddd; /* light grey background on hover */
/*}*/

#canvas-container {
    display: flex; /* This will make the div a flex container */
    justify-content: center; /* This will center the child elements horizontally */
    align-items: center; /* This will center the child elements vertically */
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Adjust as needed */
    max-width: 500px;
}

.example-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Keeps the aspect ratio while fitting the image within the box */
    cursor: pointer;
}

#nav-menu {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

#nav-menu a {
    color: #495057;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    text-align: center;
    flex-basis: 0;
}


#nav-menu a.current-main {
    background-color: #5e5e5e; /* Grey background color */
    pointer-events: none; /* Disables hover/click events */
    color: white;
    border-bottom-left-radius: 0; /* Entfernt die abgerundeten Ecken unten links */
    border-bottom-right-radius: 0; /* Entfernt die abgerundeten Ecken unten rechts */
}

#nav-menu a.current {
    background-color: #d3d3d3; /* Grey background color */
    pointer-events: none; /* Disables hover/click events */
    color: black;
}

#nav-menu a:hover, #nav-menu a.active {
    background-color: #007bff;
    color: #fff;
}

.sub-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 800px) {
  #horizontal-alignment {
    flex-direction: column;
  }
}
